<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конструктор Піци</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ласкаво просимо до Конструктора Піци!</h1>
        <p>Створіть піцу своєї мрії, вибираючи улюблені інгредієнти.</p>
        <a href="/step1" class="btn btn-primary">Почати створення піци</a>
        <a href="/info" class="btn btn-primary">Minecraft Цитатник</a>
    </div>
</body>
</html>
